.box{
    padding: 20px;
    margin: 20px;
    float: left;
}

.dashed{
    border: 1px blue dashed;
}

.dotted{
    border: 1px blue dotted;
}

.double{
    border: 4px blue double;
}

.groove{
    border: 4px blue groove;
}

.inset{
    border: 4px blue inset;
}

.outset{
    border: 4px blue outset;
}

.ridge{
    border: 4px blue ridge;
}

.solid{
    border: 4px blue solid;
}