.box{
    padding: 20px;
    margin: 20px;
    float: left;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: blue;
}

.dashed{

}

.dotted{

}

.double{

}

.groove{

}

.inset{

}

.outset{

}

.ridge{

}

.solid{

}