p {
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}

span {
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}

a {
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}

li {
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}